body {
    font-family: 'Raleway', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 300;
}

.header {
    background: #404251;
    color: #FFFFFF;
    padding: 40px 0 10px 0;
}

.menu {

}

.menu__item {
    margin: 15px 35px;

}


.menu__item a {
    font-size: 12px;
    font-weight: 200;
    color: #FFFFFF;

}

.menu__item i {
    font-family: "FontAwesome";
    font-size: 14px;
    color: #e39941;
    position: relative;
}


.offer {
}

.offer__title {
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 110px;
}

.offer__text {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
    width: 400px;
}

.diagramma1 {
    display: block;
    margin: 20px auto 0;
    padding-bottom: 5px;
}

.diagramma2 {
    display: block;
    margin: 5px auto 0;
    padding: 0 0 100px 0;
}


.registrationstart {
    background: #404251;
}

.registrationend {
    background: #404251;
}

.registration__text {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
    width: 400px;
}

.registrationend__text__load {
    font-size: 14px;
    color: #FFFFFF;
    width: 400px;
    padding: 40px 0 0 0;
}

.registrationend__card__load {
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 0 550px 0;

}


.registrationend__card__load div {
    width: 150px;
    height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    background: #868e96;
    border-radius: 4px;
    text-align: center;
    vertical-align: auto;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
    display: inline-block;

}

.registrationend__card__load div:hover {
    background: #5a5d61;
    cursor: pointer;


}

.lregistrationend__card__load__form__input {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 300px;
    padding: 4px 0 6px 20px;
}


.registrationend__card__add {
    font-size: 14px;
    color: #000;
}


.registrationend__card__add__id {
    font-size: 14px;
    color: #000;
    padding: 10px 0 10px 0;
}

.registrationend__card__add__input__id {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__surname {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__firstname {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__middlename {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__company {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__department {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationend__card__add__input__position {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationstart__add__login__input {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationstart__add__password__input {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationstart__add__email__input {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 4px 0 4px 5px;
}

.registrationstart__add__login {
     font-size: 14px;
     color: #000;
     padding: 10px 0 10px 0;
 }

.registrationstart__add__password {
    font-size: 14px;
    color: #000;
    padding: 10px 0 10px 0;
}

.registrationstart__add__email {
    font-size: 14px;
    color: #000;
    padding: 10px 0 10px 0;
}

.registrationstart__next {
    font-size: 14px;
    color: #000;
    padding: 50px 20px 700px 0;
}


.login {
    background: #404251;
}

.login__user {
    font-size: 18px;
    color: #000;
    padding-bottom: 200px;
}

.error {
    background: #404251;
}

.error__main {
    background: #404251;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 200px;
}

.error__text {
    background: #404251;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 20px 800px 0;
}

.account {
    background: #669966;
}

.editor {
    background: #669966;
}

.editor__payslip {
    font-size: 18px;
    color: #fff;
    background: #404251;
    padding: 100px 0 20px 0;
}

.editor__payslip__search {
    font-size: 18px;
    color: #fff;
    padding-bottom: 50px;
}

.editor__payslip__search__table {
    font-size: 18px;
    color: #fff;
}

.editor__payslip__delete {
    font-size: 18px;
    color: #fff;
    padding-bottom: 200px;
}


.editor__payslip__delete__input__id {
    background: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 350px;
    padding: 4px 0 4px 5px;

}

.editor__payslip__delete__input {
    padding-bottom: 10px;
}


.editor__payslip__add {
    font-size: 14px;
    color: #000;
    padding-bottom: 50px;
}


.editor__payslip__add__date {
    font-size: 14px;
    color: #000;
    padding: 10px 0 0 0;
}

.editor__payslip__add__money {
    font-size: 14px;
    color: #000;
    padding: 10px 0 10px 0;
}


.editor__payslip__add__input__year {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 0 0 4px 5px;
}

.editor__payslip__add__input__month {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 0 0 4px 5px;
}

.editor__payslip__add__input__advance {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 0 0 4px 5px;
}


.editor__payslip__add__input__salary {
    background: #fff;
    font-size: 14px;
    border-radius: 5px;
    width: 190px;
    padding: 0 0 4px 5px;
}
